body {
	background-color: #fff;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	margin: 0 auto;
	max-width: 36em;
	padding: 2em;
}

a {
	color: #000;
	text-decoration: underline;
}

h1, h2, p {
	line-height: 1.5em;
	margin: 1.5em 0;
	padding: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

ol, ul {
	margin: 1.5em 0 1.5em 2em;
	padding: 0;
}

article, main {
	margin: 6em 0;
	padding: 0;
}

main nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

main nav li {
	display: list-item;
	margin: 1.5em 0;
	padding: 0;
}

footer nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer nav li {
	display: inline;
	margin: 0 0.5em 0 0;
	padding: 0;
}

time {
	display: block;
	font-size: 0.75em;
}

button, input {
	border: 1px solid #000;
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

input[type="email"] {
	background-color: #fff;
	color: #000;
	margin: 0 0 1.5em 0;
	width: 100%;
}

button, input[type="submit"] {
	background-color: #000;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

button a {
	color: #fff;
	text-decoration: none;
}

::placeholder {
	color: #000;
	opacity: 0.5;
}

::selection {
	background-color: #000;
	color: #fff;
}