<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}

    <link rel="stylesheet" href="/assets/css/styles.css?v=20" />
    <link rel="icon" href="/assets/images/favicon.png" />
    {% feed_meta %}
  </head>
  <body>
    <!-- Begin content -->
    <main>{{ content }}</main>
    <!-- End content -->

    {% if page.collection == 'posts' %}
    <!-- Begin post navigation -->
    {% include post-navigation.html %}
    <!-- End post navigation -->
    {% endif %}

    <!-- Begin main navigation -->
    {% include main-navigation.html %}
    <!-- End main navigation -->
  </body>
</html>
