---
layout: default
---

<h1>{{ page.title | smartify }}</h1>
{{ content }}

<section>
  {% if page.previous.url %}
  <div>
    <span aria-label="Previous">&gt;</span>
    <a href="{{ page.previous.url }}">{{ page.previous.title | smartify }}</a>
  </div>
  {% endif %} {% if page.next.url %}
  <div>
    <span aria-label="Next">&lt;</span>
    <a href="{{ page.next.url }}">{{ page.next.title | smartify }}</a>
  </div>
  {% endif %}
</section>

<section id="posts">
  <h2>Recent posts</h2>
  <ul>
    {% for post in site.posts limit: 5 %}
    <li>
      <div>
        <time class="caps" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: '%b %-d' }}
        </time>
      </div>
      <div>
        <a href="{{ post.url }}">{{ post.title | smartify }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <a class="button caps" href="/archive/">View all posts</a>
</section>
